<div class="mural">
	<div class="container">
		<div class="center hero-unit">
				<address>
					<br>
					<strong>call us for reservations,<br>
					delivery, events and<br> 
					anything else you'd like to chat about.<br> 
					we'd love to hear from you.</strong><br>
				  424-228-4736<br>
					<br>
					<br>
				  <strong>hours</strong><br>
				  open daily from 8am to 11pm<br>
				  <br>
				  <br>
				  <strong>email</strong><br>
				  southendvenice at gmail.com<br>
				  <br>
				  <br>
	  			</address>
		</div>
	</div>
</div>
