<%
meta :title => "Contact",
     :description => "Make reservations, call us or send us an email.",
     :keywords => %w(South End Venice Beach Los Angeles Restaurant Wine Bar Contact)
%>

<div class="mural">
	<div class="container">
		<div class="center hero-unit">
				<address>
					<br>
					<strong>Call us for reservations,<br>
					delivery, events and<br> 
					anything else you'd like to chat about.<br> 
					We'd love to hear from you.</strong><br>
				  424-228-4736<br>
					<br>
					<br>
				  <strong>Hours</strong><br>
				  Open daily from 8am to 11pm<br>
				  <br>
				  <br>
				  <strong>Email</strong><br>
				  southendvenice at gmail.com<br>
				  <br>
				  <br>
	  			</address>
		</div>
	</div>
</div>
