<%
meta :title => "Drink",
     :description => "Wines from around the world, selection curated by Mario Vollera.",
     :keywords => %w(South End Venice Beach Los Angeles Restaurant Wine Bar)
%>

<div class="mural">	
	<div class="container">
			<div class="center hero-unit">
					<div class="menu-logo">
						<img src="http://i1292.photobucket.com/albums/b561/parisliahyun/c6ea332c-9f4c-40df-90f4-f3a7ff0ee0b6_zps2b493e01.jpg" class="img-responsive">
					</div>  
						<h3>
							<div class="heading">
								  <ul class="subhead">					
										<li>WHITE</li>	
										<li>&nbsp;&nbsp;&nbsp;&nbsp;</li>		 
										<li>GLASS</li>
										<li>/</li>    
										<li>BOTTLE</li>
									</ul>
							</div>  
						</h3>
						<p>
						Arneis, Paolo Massa, Rivera, Piedmont, 2011, Italy ...								$14&nbsp;&nbsp;&nbsp;&nbsp;		$52</br> 
						</br> 
						Muscat, Jean Gardies, Las Cabes, 2011, Languedoc-Roussillon, France ...							$9&nbsp;&nbsp;&nbsp;&nbsp; 		$36</br> 
						</br> 
						Picpoul de Pinet, 2011, Languedoc-Roussillon, France ...							$10&nbsp;&nbsp;&nbsp;&nbsp;		$42</br> 
						</br> 
						Chablis, Domain Grossot, 2012, Burgundy, France ...						$12&nbsp;&nbsp;&nbsp;&nbsp;		$46</br> 
						</br> 
						Sancerre, Paul Prieur, 2012, Loire Valley, France ...							 &nbsp;&nbsp;--&nbsp;&nbsp;&nbsp;&nbsp;		$60</br>
						</br> 
						Sauvignon, Huia, 2011, New Zealand ...						$11&nbsp;&nbsp;&nbsp;&nbsp;		$44</br> 
						</br> 
						Chardonnay Reserve, Battaglini, 2009, California, USA ... 					$14&nbsp;&nbsp;&nbsp;&nbsp;		$56</br> 
						</br> 
						Chardonnay, Louis Chevallier, Macon Villages, 2011, Burgundy, France...		$11&nbsp;&nbsp;&nbsp;&nbsp;		$44</br> 
						</br> 
						Chardonnay, Battaglini, 2011, California ...						$12&nbsp;&nbsp;&nbsp;&nbsp;		$48</br> 
						</br> 
						Ribolla Gialla, Conte d’Attimis, 2012, Colli Orientali del Friuli, Italy ...							$18&nbsp;&nbsp;&nbsp;&nbsp;		$72</br> 
						</br> 
						Trebbiano, Satrico, 2012, Lazio, Italy ...								$15&nbsp;&nbsp;&nbsp;&nbsp;		$60</br> 
						</br> 
						Cremant de Limoux, Collin, 2012, Languedoc-Roussillon, France ...						$9&nbsp;&nbsp;&nbsp;&nbsp;		$36</br> 
						</br> 
						Sauternes, D’Arme, 2007, Bordeaux, France ...							 &nbsp;&nbsp;--&nbsp;&nbsp;&nbsp;&nbsp;		$90</br> 
						</br> 
						Viognier, Domaine la Bastide, 2012, Languedoc-Roussillon, France ...						$10&nbsp;&nbsp;&nbsp;&nbsp;		$36</br> 
						</br> 
						Grüner Veltliner, Fritsch Windspiel 2011, Austria ...					$9&nbsp;&nbsp;		$36</br> 
						</p>
						<h3>
							<div class="heading">
									<ul class="subhead">
										<li>RED</li>	
									</ul>
							</div>  
						</h3>	
						<p>
						Grenache, Shadow Chaser, 2011, Australia ...						$10&nbsp;&nbsp;&nbsp;&nbsp;		$42</br> 
						</br> 
						Shiraz, Woop Woop, 2012, Australia ...							$12&nbsp;&nbsp;&nbsp;&nbsp;		$46</br> 
						</br> 
						Chateauneuf-Du-Pape, Paul Autard, 2002, Rhône Valley, France ...					 &nbsp;&nbsp;--&nbsp;&nbsp;&nbsp;&nbsp;		$105</br> 
						</br> 
						St. Estephe, Lalande de Pez, 2008, Bordeaux, France ...						 &nbsp;&nbsp;--&nbsp;&nbsp;&nbsp;&nbsp;		$93</br> 
						</br> 
						Cabernet, Febre Montayou, 2009, Argentina ...					$12&nbsp;&nbsp;&nbsp;&nbsp;		$48</br> 
						</br> 
						Cabernet-Merlot, La Tour, 2009, Bordeaux, France ...					$11&nbsp;&nbsp;&nbsp;&nbsp;		$44</br> 
						</br> 
						Petite Syrah, Battaglini, 2010, California	, USA ...						 &nbsp;&nbsp;--&nbsp;&nbsp;&nbsp;&nbsp;		$98</br> 
						</br> 
						Barbera d’Alba, Cucco, 2010, Piedmont, Italy ...							 &nbsp;&nbsp;--&nbsp;&nbsp;&nbsp;&nbsp;		$96</br> 
						</br> 
						Corvina Blend, Ca’Rugate “Rio Albo”, Valpolicella, Italy ...					$12&nbsp;&nbsp;		$48</br> 
						</br> 
						Nebbiolo, Barolo, San Biagio, 2006, Piedmont, Italy ...								 &nbsp;&nbsp;--&nbsp;&nbsp;&nbsp;&nbsp;		$103</br> 
						</br> 
						Zinfandel, Battaglini, 2009, California, USA ... 						$13&nbsp;&nbsp;&nbsp;&nbsp;		$54
						</p>
						<h3>
							<div class="heading">
								<ul class="subhead">
									<li>ROSE</li>	
								</ul>
							</div>  
						</h3>	
						<p>
						Grenache, Pierre-Henri Morel, Tavel, 2012, Rhône Valley, France	...		$12&nbsp;&nbsp;&nbsp;&nbsp;			$48</br> 
						</p>
		</div> 
	</div> 
</div>	