<%
meta :title => "Food",
		 :description => "Rustic, European cafe menu with locally-sourced ingredients.",
		 :keywords => %w(South End Venice Beach Los Angeles Restaurant Wine Bar Rustic Pies Tartes Frank Fermin Mozza Mario Vollera Piccolo Barbershop)
%>

<div class="mural">
	<div class="container">
			<div class="center hero-unit">
					<div class="menu-logo">
						<img src="http://i1292.photobucket.com/albums/b561/parisliahyun/c6ea332c-9f4c-40df-90f4-f3a7ff0ee0b6_zps2b493e01.jpg" class="img-responsive">
					</div> 	
					<h3>SALAD</h3> 		
					<p>
					Spring Mix, Vegetable Crudite, Lemon ...								$8</br> 	
					</br>
					Little Gem Lettuce, White Anchovies, Croutons, Piave, Caesar Dressing ...	 		$11</br>
					</br>
					Caprese ...													$12
					</p>
					<h3>FROMAGE ET CHARCUTERIE</h3>
					<p>
					Assorted Cheeses ...											$15</br>
					</br>
					Assorted Meats ...												$15</br>
					</p>
					<h3>TARTES</h3>				
					<p>
					Onion & Brie ...												$13</br> 
					<small>Carmelized onion, Brie, peaches, aceto balsamico</small></br>	
					</br>
					The Nero ...											 		$16</br>
					<small>House-cured salmon, braised leeks, crème fraiche, chives</small></br>
					</br>
					Siciliano ...													$11</br>
					<small>Roma tomatoes, cherry tomatoes, Fresno chilies, Sicilian oregano</small></br>
					</br>
					Garlic & Cherry ...												$11</br>
					<small>Fontina, garlic, cherry tomatoes, evoo, thyme</small>
					<h3>RUSTIC PIES</h3>
					<p>
					Venus ...												$16</br>
					<small>Roma tomatoes, salami, mozzarella, Fresno chilies, red onions</small></br>
					</br>
					Vanguard ...													$15</br>
					<small>Asian mushrooms, Fontina, Piave, Fresno chilies, fine herbs</small></br>
					</br>
					Kinney ... 												$14</br>
					<small>Roma tomatoes, cherry tomatoes, mozzarella, basil, evoo</small></br>
					</br>
					High Sign ...													$16</br>
					<small>Bacon, mozzarella, Fontina, thyme</small></br>
					</br>
					Winward ...													$14</br>
					<small>Spinach, garlic, Fontina, Piave, black pepper</small></br>
					</br>
					Gondola ...													$15</br>
			    <small>Roma tomatoes, cherry tomatoes, Fresno chilies, white anchovies, Sicilian oregano</small></br>
					</p>
					<h3>BEER</h3> 	
					<p>			
					<strong>PALE</strong></br>
					Honey Saison ...												$7</br> 
					<small>Almanac Beer Company, California. 4.8%</br>
					Crisp & refreshing</small></br>	
					</br>
					<strong>MEDIUM</strong></br>
					Ekstra Draught ...										 		$8</br>
					<small>Svyturys Brewery, Lithuania. 5.2%</br>
					Non-pasteurised, malty lager</small></br>
					</br>
					<strong>STOUT</strong></br>
					Biere de Chocolat ...											$8</br>
					<small>Almanac Beer Company, California. 5.5%</br>
					Smooth & slightly smoky</small> 									
					</p>
					<h3>SODA</h3>					
					<p>
					Root Beer ...													$4</br> 
					<small>Virgil’s Sodas - micro-brewed with cane sugar (gluten-free & caffeine-free)</small></br>	
					</br>
					Cream Soda ...										 		$4</br>
					<small>Virgil’s Sodas - made with vanilla & cane sugar (gluten-free & caffeine-free)</small></br>
					</br>
					Extra Ginger Brew ...											$5</br>
					<small>Reed’s Inc - made with 26 grams of fresh ginger root & raw cane sugar</small></br> 
					</br>
					Strawberry-Rhubarb Soda ...										$5</br>
					<small>Oogave - made with agave (caffeine-free)</small></br> 
					</br>
					Minta ...													$5</br>
					<small>Spearmint soda - made with real sugar, fresh & sweet</small></br>
					</br>
					Mineral Water ...												$3</br>
					<small>Imported from Lithuania - extremely mineraly & lightly salty, not for the faint of heart.</small>
					</p>
					<h3>DESSERT</h3>  
					<p>	
					Goat Cheese Cheesecake ...										$9</br>
					<small>With mixed berry jam</small></br>
					</br>
					Affogato ...													$7</br>
					<small>With vanilla gelato</small></br>
					</p>
			</div> 		
	</div> 
</div>	