<div class="container">
	<div class="center hero-unit">
				<div class="menu-logo">
					<img src="http://i1292.photobucket.com/albums/b561/parisliahyun/southendlogo_zpsbdcb32d1.png" class="img-responsive">
				</div> 	
			<p>SALAD</br> 		
				</br>	
				Spring Mix, Vegetable Crudite, Lemon ...								$8</br> 	
				</br>
				Little Gem Lettuce, White Anchovies, Croutons, Piave, Caesar Dressing ...	 		$11</br>
				</br>
				Caprese ...													$12</br>
				</br>
				FROMAGE ET CHARCUTERIE</br>
				</br>
				Assorted Cheeses ...											$15</br>
				</br>
				Assorted Meats ...												$15</br>
				</br>
				SPECIALTY PIZZAS</br>	
				</br>				
				Onion & Brie ...												$13</br> 
				caramelized onion, Brie, peaches, aceto balsamico</br>	
				</br>
				Pizza Nero ...											 		$16</br>
				house-cured salmon, braised leeks, creme fraiche, chives</br>
				</br>
				Siciliano ...													$11</br>
				Roma tomatoes, cherry tomatoes, Fresno chilies, Sicilian oregano</br>
				</br>
				Garlic & Cherry ...												$11</br>
				Fontina, garlic, cherry tomatoes, evoo, thyme</br>
				</br>
				CLASSIC PIZZAS</br>
				</br>
				El Pepperoni ...												$16</br>
				Roma tomatoes, salami, mozzarella, Fresno chilies, red onions</br>
				</br>
				Hongos ...													$15</br>
				Asian mushrooms, Fontina, Piave, Fresno chilies, fine herbs</br>
				</br>
				Margherita ... 												$14</br>
				Roma tomatoes, cherry tomatoes, mozzarella, basil, evoo</br>
				</br>
				Blanco ...													$16</br>
				bacon, mozzarella, Fontina, thyme</br>
				</br>
				Espinaca ...													$14</br>
				spinach, garlic, Fontina, Piave, black pepper</br>
				</br>
				Anchoa ...													$15</br>
				    Roma tomatoes, cherry tomatoes, Fresno chilies, white anchovies,</br>Sicilian oregano</br>
				 
				</br>
				BEER</br> 	
				</br>				
				Pale</br>
				</br>
				Honey Saison ...												$4</br> 
				Almanac Beer Company, California. 4.8%</br>
				Crisp & Refreshing</br>	
				</br>
				Medium</br>
				</br>
				Ekstra Draught ...										 		$4</br>
				Svyturys Brewery, Lithuania. 5.2%</br>
				Non-pasteurised, malty lager</br>
				</br>
				Stout</br>
				</br>
				Biere de Chocolat ...											$5</br>
				Almanac Beer Company, California. 5.5%</br>
				Smooth & Slightly Smoky</br> 
				</br>										
				SODA</br> 	
				</br>					
				Root Beer ...													$4</br> 
				Virgil’s Sodas - micro-brewed with cane sugar (gluten-free & caffeine-free)</br>	
				</br>
				Cream Soda ...										 		$4</br>
				Virgil’s Sodas - made with vanilla & cane sugar (gluten-free & caffeine-free)</br>
				</br>
				Extra Ginger Brew ...											$5</br>
				Reed’s Inc - made with 26 grams of fresh ginger root & raw cane sugar</br> 
				</br>
				Strawberry-Rhubarb Soda ...										$5</br>
				Oogave - made with agave (caffeine-free)</br> 
				</br>
				Minta ...													$5</br>
				Spearmint soda - made with real sugar, fresh & sweet</br>
				</br>
				Mineral Water ...												$3</br>
				Imported from Lithuania - extremely mineraly & lightly salty, not for the faint of heart.</br> 
				</br>
				DESSERT</br>  	
				</br>
				Goat Cheese Cheesecake ...										$9</br>
				with mixed berry jam</br>

				Affogato ...													$7</br>
				with vanilla gelato</br>
			</p>	
	</div> 
</div> 