<div class="container">

	<div class="first">
	<h1>SOUTH END</h1>	
	<p>
	From Mozza chef Frank Fermin and Mario Vollera of Piccolo and Barbershop<br />
	<small>2805 Abbot Kinney Blvd, Venice</small></p>
	</div>

	<div class="second">
	<p>
	European cafe menu with locally-sourced ingredients
	<br />
	<small>Including specialty pizzas, rustic flatbreads, salads, cheeses and salumi</small></p>
	</div>

	<div class="third">
	<p>
	Handpicked wines<br />
	<small>An international selection curated by Mario Vollera</small></p>
	</div>

</div>	
