<div class="container">
	<div class="well">
		<div class="first">
				<h1>SOUTH END</h1>	
				<div class="home-text">
				A new wine bar and cafe by Mozza chef Frank Fermin and Mario Vollera of Piccolo and Barbershop.
				</div>
		</div>

			<div class="second">
				<div class="home-text">
				Rustic, European cafe menu with locally-sourced ingredients.
				</div>
			</div>

			<div class="third">
				<div class="home-text">
				Wines from around the world, selection curated by Mario Vollera.
				</div>
			</div>
	</div>
</div>	


