<div class="center hero-unit">
<h2>JUMBO TRON. IMAGES TK</h2>
</div>
<div class="center well well-large">
		<div class="row-fluid">
		  <div class="span4">restaurant info</div>
		  <div class="span4"><%= link_to "Get Updates", '#' %></div>
		  <div class="span4">PROMO TK</div>
	</div>
</div>
