<script type="text/javascript">
  $(document).ready(function() {
    $('.carousel').carousel({
      interval: 3000
    })
  });
</script>

<div class="container">
	<div id="this-carousel-id" class="carousel slide">
			<div class="carousel-inner">
					<div class="item active">
						<img src="http://i1292.photobucket.com/albums/b561/parisliahyun/39058e42-1c51-4690-a888-162217bccb0d_zpsbf9e364a.jpg" class="img-responsive" alt="South End Image 1" /> 
							<div  class="carousel-caption">
   							 <p>CAPTION TITLE</br>
   							 	<small>caption caption caption </br>
   							 	caption caption caption</small></p>
 							</div>
					</div>

					<div class="item">
						<img src="http://i1292.photobucket.com/albums/b561/parisliahyun/ce79cb90-6d80-42b8-9aa6-e266a52e4f3d_zps71f31b35.jpg" class="img-responsive" alt="South End Image 2" /> 
							<div  class="carousel-caption">
   							 <p>CAPTION TITLE</br>
   							 	<small>caption caption caption </br>
   							 	caption caption caption</small></p>
 							</div>
					</div>

				 	<div class="item">
						<img src="http://i1292.photobucket.com/albums/b561/parisliahyun/6fcd870d-29fa-4f1e-8245-17b8f0211527_zps1780f3bd.jpg" class="img-responsive" alt="South End Image 3" />
 							<div  class="carousel-caption">
   							 <p>CAPTION TITLE</br>
   							 	<small>caption caption caption </br>
   							 	caption caption caption</small></p>
 							</div>
					</div>
		</div> <!-- /.carousel-inner -->
					<a class="carousel-control left" href="#this-carousel-id" data-slide="prev">&lsaquo;</a>
					<a class="carousel-control right" href="#this-carousel-id" data-slide="next">&rsaquo;</a>
	</div>
</div>
