<div class="mural">
	<div class="container">
			<div class="center hero-unit">
					<address>
					  <strong>South End</strong><br>
					  2805 Abbot Kinney Blvd<br>
						Venice CA 90291<br>
					</address>
					
					</br>

					<div class="map">
					<iframe width="225" height="150" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?q=W+Washington+Blvd+%26+Abbot+Kinney+Blvd,+Los+Angeles,+California+90291&amp;hl=en&amp;hnear=W+Washington+Blvd+%26+Abbot+Kinney+Blvd,+Los+Angeles,+California+90291&amp;gl=us&amp;t=m&amp;geocode=FcSeBgIdrZDw-A&amp;ie=UTF8&amp;hq=&amp;z=14&amp;ll=33.988292,-118.452051&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?q=W+Washington+Blvd+%26+Abbot+Kinney+Blvd,+Los+Angeles,+California+90291&amp;hl=en&amp;hnear=W+Washington+Blvd+%26+Abbot+Kinney+Blvd,+Los+Angeles,+California+90291&amp;gl=us&amp;t=m&amp;geocode=FcSeBgIdrZDw-A&amp;ie=UTF8&amp;hq=&amp;z=14&amp;ll=33.988292,-118.452051&amp;source=embed" style="color:#0000FF;text-align:left">View Larger Map</a></small>
				</div>
			</div>
	</div> 
</div>	
