<div class="container">
	<div class="center hero-unit">
			<address>
			  <strong>South End</strong><br>
			  ##### Washington Blvd.<br>
			  Venice, CA zip code<br>
			  <a href="http://goo.gl/maps/zCCxP">Open in Google Maps</a><br>
			</address>
	</div> 
</div> 
