<%
meta :title => "Reservations",
     :description => "Make reservations with Open Table",
     :keywords => %w(South End ReservationsVenice Beach Los Angeles Restaurant Wine Bar Contact)
%>

<div class="container">
	<div class="row">
		<div class="span4 offset5">
			<br>
			<br>
			<br>
			<br>
			<script type="text/javascript" src="http://www.opentable.com/frontdoor/default.aspx?rid=113335&restref=113335&hover=1"></script>
			<a class="OT_ExtLink" href="http://www.opentable.com/single.aspx?rid=113335&restref=113335">Take me to Open Table.</a>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
		</div>	
	</div>	
</div>

