$baseFontFamily: Oxygen; 
@import url(http://fonts.googleapis.com/css?family=Oxygen);

$navbarBackgroundHighlight: #000000;
$navbarBackground: #000000;

@import 'bootstrap';
body{
    padding-top: 70px;
    background: url("http://i1292.photobucket.com/albums/b561/parisliahyun/2672ff28-8dae-4ef4-b106-2a3be4342a57_zpsf04ccb39.jpg");;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat:no-repeat;
    height: 100%;
}

@import 'bootstrap-responsive';

.navbar-inner{
  @include box-shadow(none !important);
  border: 0;
}

div.navbar div.navbar-inner ul.nav a:hover {
    color: #ddc92a !important; 
}

div.navbar .nav > li > a {
  margin-top: -0.8px;
  color: #ffffff !important;
  text-transform:uppercase; 
  background: none repeat scroll 0% 0% #000000 !important;
  display: block !important;
  padding: 1.3rem 1rem;
  text-decoration: none !important;
  font-size:15px !important; 
  border-top: 0.5px solid #D8D8D8 !important;
}

div.navbar .brand {
  padding: 1.3rem 1rem !important;

}

.carousel-slide {
  padding-top: 40px;

}

.carousel-caption {
  max-width: 1000px;
  margin: 0 auto;
  font-size: 20px;
  padding: 10px 10px 10px 10px;
  position: absolute;
  text-align: justify;
}

a.carousel-control {
  margin: 0 auto;
} 

.hero-unit {
  margin-top: 60px;
  margin-right: auto;
  margin-left: auto;
  max-width: 500px;
  opacity:0.7;
}

.img-responsive {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: auto;
}

div.menu-logo {
  margin-bottom: 60px;
  margin-right: 0 auto;
  margin-left: 0 auto;
}

div.heading .subhead > li {
  text-decoration: none !important;
  display: inline;
  padding-right: 40px;
  margin-left: -25px !important;
}

div.map {
  text-align: center;
  margin: 0 auto;
  padding-top: 10px;
  position: relative;
  overflow: hidden;
}

h2 {
  color: gray;
  text-decoration: none;
  font-size: 18px;
  text-align: center;
}

h3 {
  font-size: 18px;
}

address {
  text-align: center;
  line-height: 25px;
  margin: 0 auto;
  position: relative;
}

.links {
  text-decoration: none !important;
  color: #000000;
  &:hover {
  color: #ddc92a;
  }
}

.footer {
  padding-left: 15px;
  padding-top: 55px;
  width: 100%;
  color: #cc7711;
}