$baseFontFamily: arial; 
@import url(http://fonts.googleapis.com/css?family=arial);

$navbarBackgroundHighlight: #000000;
$navbarBackground: #000000;

@import 'bootstrap';

body {
    padding-top: 60px;
    padding-bottom: 60px;
    width: auto !important;
    overflow-x: hidden !important;
    height: 100%;
    background-color: #ffffff;
}

div.mural {
    background: url("http://i1292.photobucket.com/albums/b561/parisliahyun/2672ff28-8dae-4ef4-b106-2a3be4342a57_zpsf04ccb39.jpg");
    background-repeat:no-repeat;
    background-size: cover; 
    background-position: absolute;
    background-attachment: fixed;
    padding-bottom: 40px;
}    

@import 'bootstrap-responsive';

.navbar-inner{
  @include box-shadow(none !important);
  border: 0;
}

div.navbar div.navbar-inner ul.nav a:hover {
    color: #ddc92a !important; 
}

div.navbar .nav > li > a {
  color: #ffffff !important;
  text-transform: uppercase; 
  background: none repeat scroll 0% 0% #000000 !important;
  display: block !important;
  padding: 1.3rem 2rem;
  text-decoration: none !important;
  font-size:15px !important; 
  border-top: 1px solid #D8D8D8 !important;
  margin-top: -0.8px;

}

div.navbar .brand {
  padding: 1.3rem 1rem !important;

}

div.well {
  background-color: #ffffff;

}

h1 {
  text-align: center;
  line-height: 100px;
  display: block;
  padding-top: 25px;
  color: #ffffff;
  font-size: 115px;
}

div.home-text {
  text-align: left justify;
  margin: 10px 10px 10px 10px;
  padding: 10px 10px 10px 10px;
  line-height: 28px;
  color: #ffffff;
  font-size: 20px;
  background-color: #000000;
  position: absolute;
  opacity: 0.7;
  bottom: 0;
  border-radius: 12px;
}  

div.first {
  background: url("http://i1292.photobucket.com/albums/b561/parisliahyun/DSC_0233_zpsb6bbbf54.jpg");
  height: 500px;
  background-position: 100%;
  background-attachment: fixed;
  background-repeat:no-repeat;
  background-size: cover;
  position: relative;
  margin: 40px 0 0 0;
  border-radius: 12px;
}

div.second {
  background: url("http://i1292.photobucket.com/albums/b561/parisliahyun/ce79cb90-6d80-42b8-9aa6-e266a52e4f3d_zps71f31b35.jpg");
  height: 500px;
  background-position: 100%;
  background-attachment: fixed;
  background-repeat:no-repeat;
  background-size: cover;
  position: relative;
  margin: 40px 0 0 0;
  border-radius: 12px;
}

div.third {
  background: url("http://i1292.photobucket.com/albums/b561/parisliahyun/6fcd870d-29fa-4f1e-8245-17b8f0211527_zps1780f3bd.jpg");
  height: 500px;
  background-position: 100%;
  background-attachment: fixed;
  background-repeat:no-repeat;
  background-size: cover;
  position: relative;
  margin: 40px 0 0 0;
  border-radius: 12px;
}  

/* --- CAROUSEL STYLES --
.carousel-slide {
  padding-top: 40px;

}

.carousel-caption {
  max-width: 1000px;
  margin: 0 auto;
  font-size: 20px;
  padding: 10px 10px 10px 10px;
  position: absolute;
  text-align: justify;
}

a.carousel-control {
  margin: 0 auto;
} 

*/

.hero-unit {
  margin-top: 60px;
  margin-right: auto;
  margin-left: auto;
  max-width: 600px;
  opacity:0.7;
}
/*
.img-responsive {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: auto;
}
*/


div.menu-logo {
  margin-bottom: 60px;
  margin-right: 0 auto;
  margin-left: 0 auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: auto;
}

div.heading .subhead > li {
  text-decoration: none !important;
  display: inline;
  padding-right: 40px;
  margin-left: -25px !important;
}

div.map {
  text-align: center;
  margin: 0 auto;
  padding-top: 10px;
  position: relative;
  overflow: hidden;
}

h2 {
  color: gray;
  text-decoration: none;
  font-size: 18px;
  text-align: center;
}

h3 {
  font-size: 18px;
}

p {
  font-size: 16px;
}

address {
  text-align: center;
  line-height: 25px;
  margin: 0 auto;
  position: relative;
}

.links {
  text-decoration: none !important;
  color: #000000;
  &:hover {
  color: #ddc92a;
  }
}

.footer {
  margin-top: 30px;
  margin-bottom: -5em;
  padding-left: 5px;
  bottom: 0px;
  position: relative;
  width: 100%;
  color: #cc7711;
}

/* Landscape phones and down */
@media (max-width: 480px) {

h1 {
  text-align: center;
  line-height: 50px;
  display: block;
  padding-top: 25px;
  color: #ffffff;
  font-size: 60px;
}

p {
  font-size: 12px;
}

div.home-text {
  text-align: left justify;
  margin: 10px 10px 10px 10px;
  padding: 10px 10px 10px 10px;
  line-height: 20px;
  color: #ffffff;
  font-size: 16px;
  background-color: #000000;
  position: absolute;
  opacity: 0.7;
  bottom: 0;
  border-radius: 12px;
}  

div.first {
  background: url("http://i1292.photobucket.com/albums/b561/parisliahyun/DSC_0233_zpsb6bbbf54.jpg");
  height: 290px;
  background-position: 75%;
  background-repeat:no-repeat;
  background-size: cover;
  position: relative;
  margin: 20px 0 0 0;
  border-radius: 12px;
}

div.second {
  background: url("http://i1292.photobucket.com/albums/b561/parisliahyun/ce79cb90-6d80-42b8-9aa6-e266a52e4f3d_zps71f31b35.jpg");
  height: 200px;
  background-position: 8%;
  background-repeat:no-repeat;
  background-size: cover;
  position: relative;
  margin: 20px 0 0 0;
  border-radius: 12px;
}

div.third {
  background: url("http://i1292.photobucket.com/albums/b561/parisliahyun/6fcd870d-29fa-4f1e-8245-17b8f0211527_zps1780f3bd.jpg");
  height: 200px;
  background-position: 90%;
  background-repeat:no-repeat;
  background-size: cover;
  position: relative;
  margin: 20px 0 0 0;
  border-radius: 12px;
}


} 





