$baseFontFamily: Oxygen; 
@import url(http://fonts.googleapis.com/css?family=Oxygen);

$navbarBackgroundHighlight: black;
$navbarBackground: black;

@import 'bootstrap';
body{
    padding-top: 100px;
}

@import 'bootstrap-responsive';

.navbar-inner{
  @include box-shadow(none !important);
  border: 0;
}

div.navbar div.navbar-inner ul.nav a:hover {
    color: #ddc92a !important; 
}

div.navbar .nav > li > a {
  color: #FFFFFF !important;
  text-transform:uppercase; 
  border-top: 1px solid #666666 !important;
  background: none repeat scroll 0% 0% #000000 !important;
  display: block !important;
  padding: 1.3rem 1rem;
  text-decoration: none !important;
}

div.navbar .nav > li > a { 
  font-size:15px !important;
}

.navbar .brand{
  color:#FFFFFF !important;
  padding: 1.3rem 1rem !important;
}

.links {
  text-decoration: none !important;
  color: #000000;
  &:hover {
  color: #ddc92a;
  }
}

.footer{
  margin-top: 50px;
  color: $grayLight;
  a{
      color: $gray;
  }
}